@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
// 물결 SVG
$wave-svg: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23007bff' fill-opacity='1' d='M0,192L48,197.3C96,203,192,213,288,229.3C384,245,480,267,576,250.7C672,235,768,181,864,181.3C960,181,1056,235,1152,234.7C1248,235,1344,181,1392,154.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E";

.cssAnimation {
  @include section;
  background-color: $bg-gray;

  .inner {
    @include inner;
  }

  .titleWrap {
    .title {
      @include sectionTitle;

      span {
        color: $primary-color;
      }
    }

    .subTitle {
      @include sectionSubTitle;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    .item {
      position: relative;
      width: 50%;
      display: flex;
      align-items: center;
      gap: 36px;
      padding: 10px 28px;

      &:nth-child(1),
      &:nth-child(3) {
        flex-direction: row-reverse;
        text-align: right;
      }

      @media screen and (max-width: 1024px) {
        gap: 20px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        gap: 10px;
        padding: 10px;

        &:nth-child(1),
        &:nth-child(3) {
          flex-direction: column;
          text-align: center;
        }
      }

      &.ballItem {
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);

          width: 210px;
          height: 210px;
          background-color: $primary-color;
          border-radius: 210px;
          z-index: 0;
          opacity: 0;

          @media screen and (max-width: 768px) {
            left: 0;
            right: auto;
          }
        }

        &:has(.text:hover),
        &:has(.desc:hover) {
          &::before {
            animation: ballExpand 0.5s forwards;
          }

          .text,
          .desc {
            animation: textWhite 0.5s forwards;
          }
        }
      }

      &.waveItem {
        .text {
          position: relative;

          &::before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            // 물결 배경 세팅
            background-image: url($wave-svg);
            background-repeat: no-repeat;
            background-size: 2000%;

            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;

            // 초기 위치
            background-position: 48% 0%;

            // 속도감
            transition: background-position 2s cubic-bezier(0.4, 0, 0.2, 1);
          }
        }

        &:has(.text:hover),
        &:has(.desc:hover) {
          .text {
            &::before {
              animation: waveFlow 2.3s forwards;
            }
          }
        }
      }

      &.gradationItem {
        .text {
          background: linear-gradient(135deg,
              $text-color,
              $text-color,
              $text-color,
              #2356ff,
              #8223ff,
              #f518e3);
          background-size: 300% 300%;
          -webkit-background-clip: text !important;
          background-clip: text !important;
          color: transparent;
        }

        &:has(.text:hover),
        &:has(.desc:hover) {
          .text {
            animation: textGradation 1s forwards;
          }
        }
      }

      &.blurItem {
        .text {
          filter: blur(0);
          opacity: 1;
        }

        &:has(.text:hover),
        &:has(.desc:hover) {
          .text {
            animation: textBlurOut 1.5s forwards;
          }
        }
      }

      .text {
        font-size: 200px;
        font-weight: $font-extrabold;
        cursor: pointer;
        z-index: 1;

        @media screen and (max-width: 1024px) {
          font-size: 150px;
        }

        @media screen and (max-width: 768px) {
          font-size: 120px;
        }
      }

      .desc {
        font-size: 24px;
        font-weight: $font-bold;
        color: #6A7282;
        line-height: normal;
        cursor: pointer;
        z-index: 1;
      }
    }
  }
}

// 공 애니메이션
@keyframes ballExpand {
  0% {
    width: 210px;
    opacity: 0;
    transform: translateY(-50%), scale(0);
  }

  30% {
    width: 210px;
    opacity: 1;
    trnasform: trnaslateY(-50%), scale(1);
  }

  100% {
    width: 100%;
    opacity: 1;
    trnasform: trnaslateY(-50%), scale(1);
  }
}

@keyframes textWhite {
  0% {
    color: $primary-color;
  }

  90% {
    color: #fff;
  }

  100% {
    color: #fff;
  }
}

// 파도 애니메이션
@keyframes waveFlow {
  0% {
    background-position-y: 0%;
    background-position-x: 9%;
  }

  100% {
    background-position-y: 100%;
    background-position-x: 90%;
  }
}

// 텍스트 그라데이션 애니메이션
@keyframes textGradation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 50% 100%;
  }
}

// 블러 애니메이션
@keyframes textBlurOut {
  from {
    filter: blur(0);
    opacity: 1;
  }

  to {
    filter: blur(20px);
    opacity: 0;
  }
}