@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.popupWrap {
  position: fixed;
  top: 130px;
  right: 20%;
  z-index: 9999; // 제일 위에 떠야 함
  display: flex;
  justify-content: center;
  align-items: center;

  // 모바일에선 숨김처리
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.popup {
  background: #fff;
  width: 360px;
  max-width: 90%; // 모바일 대응
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .content {
    padding: 0;
    display: flex;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .footer {
    padding: 0;
    background-color: #000;
    display: flex;

    button {
      padding: 8px 12px;
      border-right: 1px solid #525252;
      background: #000;
      color: #fff;
      cursor: pointer;

      &:nth-child(1),
      &:nth-child(2) {
        width: 40%;
      }

      // '닫기' 버튼만 좀 다르게
      &.closeBtn {
        width: 20%;
        background-color: $primary-color;
        color: white;
        border-color: $primary-color;

        &:hover {
          background-color: $primary-color ;
        }
      }
    }
  }
}