/* color */
$primary-color: #2B7FFF;
$text-color: #1E2939;
$border-color: #E5E7EB;
$bg-gray: #F9FAFB;

/* font */
$font-main: "Pretendard Variable", "Pretendard", -apple-system, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;
$inner-width: 1280px;