@use 'reset';
@use 'variables' as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  font-size: 16px;
  font-weight: $font-normal;
  color: $text-color;
  box-sizing: border-box;
  letter-spacing: -0.4px;
  word-break: keep-all;
}

.scroll-animate {
  opacity: 0;
  transform: translateY(-40px);
  transition: all 0.7s ease-out;
}

.scroll-animate.on {
  opacity: 1;
  transform: translateY(0);
}