@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.header {
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 4%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;

  .inner {
    @include inner;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .logo {
      a {
        display: flex;
        align-items: center;

        img {
          width: 109px;
          height: auto;
          ;
        }
      }
    }

    .nav {
      ul {
        display: flex;
        align-items: center;
        gap: 80px;

        @media screen and (max-width: 1024px) {
          flex-direction: column;
          gap: 0;
          background-color: #fff;
        }

        li {
          @media screen and (max-width: 1024px) {
            padding: 24px;
            text-align: center;
            width: 100%;
          }

          a {
            font-weight: $font-medium;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }

      @media screen and (max-width: 1024px) {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        height: 0;
        background-color: #fff;
        overflow: hidden;

        &.active {
          top: 60px;
          height: auto;
          transition: all 0.6s;
          box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 4%);
        }
      }
    }

    .menuToggle {
      display: none;
      width: 20px;
      height: 18px;
      flex-direction: column;
      justify-content: space-between;

      span {
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: $text-color;
        transition: all 0.3s;
      }

      @media screen and (max-width: 1024px) {
        display: flex;
        position: absolute;
        top: 21px;
        right: 20px;

        &.active {
          span:nth-child(1) {
            transform: rotate(45deg) translateX(7px) translateY(7px);
          }

          span:nth-child(2) {
            opacity: 0;
          }

          span:nth-child(3) {
            transform: rotate(-45deg) translateX(4px) translateY(-4px);
          }
        }
      }
    }

  }
}