@use '../../styles/variables' as *;

.header {
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 4%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;

  .inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      .logo {
        a {
          display: flex;
          align-items: center;

          img {
            width: 109px;
            height: auto;
            ;
          }
        }
      }
    }

    .right {
      .nav {
        ul {
          display: flex;
          align-items: center;
          gap: 80px;

          li {
            a {
              font-weight: $font-medium;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }

      .menuToggle {
        display: none;
      }
    }
  }
}