@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.inputWrap {
  display: flex;
  flex-direction: column;

  .label {
    font-weight: $font-bold;
    font-size: 20px;
    margin-bottom: 12px;

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }

    span {
      color: $primary-color;
      margin-left: 4px;
    }
  }

  input {
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 20px 16px;
    font-size: 16px;

    @media screen and (max-width: 768px) {
      padding: 16px 12px;
      font-size: 14px;
    }

    &::placeholder {
      color: $placeholder-color;
    }
  }
}