@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.accordionMenu {
  @include section;
  background-color: #fff;

  .inner {
    @include inner;
  }

  .titleWrap {
    .title {
      @include sectionTitle;

      span {
        color: $primary-color;
      }
    }

    .subTitle {
      @include sectionSubTitle;
    }
  }

  .content {
    .menu {
      padding: 32px 20px;
      border-bottom: 1px solid $border-color;
      cursor: pointer;

      .title {
        position: relative;
        font-size: 32px;
        font-weight: $font-bold;

        &::after {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          content: "";
          width: 26px;
          height: 16px;
          background-image: url('../../../assets/images/common/arrow_blue.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      .desc {
        color: #6A7282;
        font-size: 20px;
        display: none;
      }
    }
  }
}